# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
nlp_env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Model artifacts (handled separately)
*.npy
*.kv
*.bin
*.vec

todo
